[Desktop Entry]
Name=GenoPro
GenericName=Genogram Software
Comment=The best genealogy software for drawing family trees and genograms.
Encoding=UTF-8
Version=2020
Type=Application
Terminal=false
Icon=${SNAP}/meta/gui/genopro.png
Exec=genopro %F
StartupWMClass=GenoPro.exe
SingleMainWindow=True
Categories=Office
Keywords=Genealogy;Family History;Research;Family Tree;GEDCOM;Genogram;
MimeType=application/x-gedcom;application/x-wine-extension-gno;application/xml;application/octet-stream;